@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

#about-intro {
  #about-title {
    margin-top: 70px;
    height: 35vh;
    background-image: url("/material/title-background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include title-md;
      color: $color-light;
    }
  }
  #intro {
    display: flex;
    padding: 50px 90px;
    gap: 40px;

    p {
      flex: 1;
      color: $color-deep-grey;
      line-height: 1.5;
      font-size: 16px;

      h1 {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .img-container {
      flex: 1;
    }
  }
}
