// color
$color-primary: #EDD2BE;
$color-secondary: #F9EBE0;
$color-deep: #775945;
$color-dark: #BE9A7F;
$color-light: #FFFBF9;

$color-deep-grey: #222;
$color-dark-grey: #4C4C4C;
$color-grey: #E6E6E6;
$color-light-grey: #FAFAFA;
$color-white: #FFFFFF;